@import '../../scss-base/constants';
@import '../../scss-base/placeholders';

.loader-wrapper {
  // position: fixed;
  // left: 0;
  // top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: $color-medium-gray-opacity;
  @extend %transition;
}

.animation-wrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100px;
  height: 100px;
  // border-radius: 50%;
  // color: #ffffff;
  // background-color: currentColor;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// .icon {
//   position: relative;
//   display: inline-block;
//   width: 12em;
//   height: 10em;
//   font-size: 0.6em;
// }

// .cloud {
//   position: absolute;
//   z-index: 1;
//   top: 50%;
//   left: 45%;
//   width: 3.6875em;
//   height: 3.6875em;
//   margin: -1.84375em;
//   background: currentColor;
//   border-radius: 50%;
//   box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em,
//     0 0 0 0.375em #a1a1a1, -2.1875em 0.6875em 0 -0.3125em#a1a1a1,
//     2.0625em 0.9375em 0 -0.5625em #a1a1a1;
// }

// .cloud:after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: -0.5em;
//   display: block;
//   width: 4.5625em;
//   height: 1em;
//   background: currentColor;
//   box-shadow: 0 0.4375em 0 -0.0625em #a1a1a1;
// }

// .sun {
//   position: absolute;
//   top: 50%;
//   left: 45%;
//   width: 2.5em;
//   height: 2.5em;
//   margin: -1.25em;
//   background: rgb(250, 214, 9);
//   border-radius: 50%;
//   box-shadow: 0 0 0 0.375em rgb(250, 214, 9);
//   animation: spin 12s infinite linear;
// }
// .rays {
//   position: absolute;
//   top: -2em;
//   left: 45%;
//   display: block;
//   width: 0.375em;
//   height: 1.125em;
//   margin-left: -0.1875em;
//   background: rgb(250, 214, 9);
//   border-radius: 0.25em;
//   box-shadow: 0 5.375em rgb(250, 214, 9);
// }
// .rays:before,
// .rays:after {
//   content: "";
//   position: absolute;
//   top: 0em;
//   left: 0em;
//   display: block;
//   width: 0.375em;
//   height: 1.125em;
//   transform: rotate(60deg);
//   transform-origin: 50% 3.25em;
//   background: rgb(250, 214, 9);
//   border-radius: 0.25em;
//   box-shadow: 0 5.375em rgb(250, 214, 9);
// }
// .rays:before {
//   transform: rotate(120deg);
// }
// .cloud + .sun {
//   margin: -2em 1em;
// }

// .rain,
// .lightning,
// .snow {
//   position: absolute;
//   z-index: 2;
//   top: 50%;
//   left: 45%;
//   width: 3.75em;
//   height: 3.75em;
//   margin: 0.375em 0 0 -2em;
//   background: currentColor;
// }

// .rain:after {
//   content: "";
//   position: absolute;
//   z-index: 2;
//   top: 50%;
//   left: 45%;
//   width: 1.125em;
//   height: 1.125em;
//   margin: -1em 0 0 -0.25em;
//   background: #0cf;
//   border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
//   box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
//     -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
//     -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
//   transform: rotate(-28deg);
//   animation: rain 3s linear infinite;
// }

// /* Animations */

// @keyframes spin {
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes cloud {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 0.3;
//   }
//   100% {
//     opacity: 0;
//     transform: scale(0.5) translate(-200%, -3em);
//   }
// }

// @keyframes rain {
//   0% {
//     background: #0cf;
//     box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
//       -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
//       -1.375em -0.125em 0 #0cf;
//   }
//   25% {
//     box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
//       -0.875em 1.125em 0 -0.125em #0cf,
//       -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
//   }
//   50% {
//     background: rgba(255, 255, 255, 0.3);
//     box-shadow: 0.625em 0.875em 0 -0.125em #0cf,
//       -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
//       -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
//   }
//   100% {
//     box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
//       -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
//       -1.375em -0.125em 0 #0cf;
//   }
// }

// @keyframes lightning {
//   45% {
//     color: #fff;
//     background: #fff;
//     opacity: 0.2;
//   }
//   50% {
//     color: #0cf;
//     background: #0cf;
//     opacity: 1;
//   }
//   55% {
//     color: #fff;
//     background: #fff;
//     opacity: 0.2;
//   }
// }
