.header__wrapper {
  width: 100%;
  padding: 15px 0;
  @extend %background-image;
  background-size: cover;
  background-image: url("/assets/img/header/header_bg.png");
  border-bottom: 5px solid $color-header-border-bottom;
  z-index: 110;
}

.header {
  text-align: center;
}

.header__title {
  margin: 0;
  color: $color-header-title;
  @extend %text_shadow;
}
