.slider__wrapper {
  width: 100%;
  margin: 35px auto;
  position: relative;
  @include media-mobile {
    margin: 25px auto;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev,
.swiper-button-next {
  outline: transparent;
  @media (max-width: 414px) {
    display: none !important;
  }
}
