@import '../../scss/constants';
@import '../../scss/mixins';
@import '../../scss/placeholders';

.wrapper {
  width: calc(100% - 100px);
  min-width: 260px;
  max-width: $desktop-width;
  margin: 50px auto;
  padding: 20px;
  background-color: $color-main-bg;
  border-radius: 20px;
  @extend %box-shadow-bold;
  @include media-mobile {
    padding: 0 10px;
  }
  & p {
    margin: 20px 0;
    padding: 0 20px;
  }
}

.picture {
  width: 100%;
  max-width: $tablet-width;
}

.title {
  margin: 20px 0;
  padding: 10px 0 30px 0;
  letter-spacing: 1px;
  border-bottom: 1px solid $color-main;
  @include font(4rem, 4rem, 300);
  @extend %text-shadow;
  @include media-mobile {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.description,
.label {
  letter-spacing: 1px;
  @include font(2rem, 3rem, 400);
  @include media-mobile {
    font-size: 1.8rem;
  }
}

.label {
  padding-left: 5px;
}

.gender-items {
  display: flex;
  flex-direction: column;
  max-width: calc(415px - 20px);
  & > div {
    padding: 10px;
  }
}

.user {
  display: flex;
  justify-content: center;
  @include media-tablet {
    flex-direction: column;
  }
}

.form-item {
  padding: 10px 20px;
  @include media-mobile {
    padding: 10px 0;
  }
}

fieldset {
  max-width: 415px;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
  border: 1px solid $color-main;
  border-radius: 8px;
}

legend {
  padding: 2px 10px;
  font-size: 1.6rem;
  text-align: left;
}

.input {
  min-width: 200px;
  padding: 5px 10px;
  color: $color-gray;
  font-size: 1.6rem;
  border-radius: 5px;
  @extend %transition;
  @include media-mobile {
    min-width: 195px;
  }
}

.details {
  font-size: 1.2rem;
}

.button {
  width: 200px;
  height: 50px;
  margin: 30px auto;
  color: $color-gray;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  background-color: $color-main;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-light-text;
    background-color: $color-main-accent;
    @extend %text-shadow;
  }
}
