html,
body {
	height: 100%;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

.main {
  flex: 1 0 auto;
  @extend %background-image;
  background-image: url('/assets/img/main/cinema.jpg');
  background-size: cover;
}

h1 {
  @include font($height: 5.4rem, $size: 4.4rem);
  @include media-mobile {
    @include font($height: 4.2rem, $size: 3.2rem);
  }
}

h2 {
  @include font($size: 3.4rem, $height: 4.6rem);
  @include media-mobile {
    @include font($height: 3.3rem, $size: 2.4rem);
  }
}

h3 {
  @include font($size: 2.4rem, $height: 3.4rem);
  @include media-mobile {
    @include font($height: 3.1rem, $size: 2.1rem);
  }
}

h4 {
  @include font($size: 2.2rem, $height: 3.0rem, $weight: 600);
  @include media-tablet {
    @include font($height: 3.0rem, $size: 2.0rem);
  }
}

h5 {
  @include font($size: 1.6rem, $height: 2.6rem);
}

.block-shadowed {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.cards-category__layout,
.breadcrumbs__layout,
.stats_layout {
  opacity: 1;
  @extend %transition;
}

.hidden {
  visibility: hidden;
}

.disappear {
  opacity: 0;
  transform: translateY(100px);
}

.invisible {
  opacity: 0;
}


