$color-light: rgba(255, 255, 255, 1);
$color-dark: rgba(0, 0, 0, 1);
$color-gray: rgba(219, 219, 219, 1);
$color-light-gray: rgba(163,158,158,1);
$color-dark-gray: rgb(97, 99, 102);
$color-medium-gray-opacity: rgba(97, 99, 102, 0.5);
$color-primary: rgba(139,194,76,1);
$color-secondary: rgba(246,208,77,1);
$color-atention-primary: rgba(222,67,7,1);
$color-atention-secondary: rgba(242,156,43,1);

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;
