.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $color-light;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  padding: 2rem 1.5rem;
  z-index: 100;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left-group {
  display: flex;
  align-items: center;
}
