.keyboard__key {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 35px;
  margin: 2px;
  padding: 5px;
  outline: transparent;
  border-width: 0;
  border-bottom: 1px solid $color-key-border;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: $color-light;
  color: $color-key-font;
  cursor: pointer;
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
  @extend %transition;
}

.keyboard__key:hover {
  background-color: $color-key-hover;
}

.active {
  background-color: $color-key-active !important;
}

.special {
  font-size: 1rem;
}

.backspace,
.capsLock {
  width: 60px;
}

.shiftRight {
  width: 90px;
}

.enter {
  width: 70px;
}

.tab {
  width: 40px;
}

.space {
  width: 250px;
}

.shiftLeft {
  width: 45px;
}

.controlRight {
  width: 50px;
}

.metaLeft,
.contextMenu {
  @extend %background-image;
  background-size: 20px;
}

.contextMenu {
  background-image: url("/assets/img/icons/globe.svg");
}
