.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & * {
    color: $color-light;
    line-height: 4.5rem;
    @extend %text_shadow;
  }
}

.github-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  @extend %transition;
  &:hover {
    opacity: 0.7;
  }
}

.github__icon {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background-image: url("/assets/img/icons/github.svg");
}

