.info-panel__wrapper {
  padding: 20px 0;
}

.info__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-panel {
  margin: 0;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: $color-light;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  color: $color-info-message;
}

.error {
  color: $color-error-message;
}
