.loader__wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

@keyframes ldio-p7d46aaoseg {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-p7d46aaoseg div { box-sizing: border-box!important }
.ldio-p7d46aaoseg > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #fe718d transparent #fe718d transparent;
  animation: ldio-p7d46aaoseg 1s linear infinite;
}
.ldio-p7d46aaoseg > div:nth-child(2) { border-color: transparent }
.ldio-p7d46aaoseg > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-p7d46aaoseg > div:nth-child(2) div:before, .ldio-p7d46aaoseg > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #fe718d;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #fe718d;
}
.ldio-p7d46aaoseg > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #fe718d;
}
.loadingio-spinner-dual-ring-0g65pg5h4ux6 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-p7d46aaoseg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-p7d46aaoseg div { box-sizing: content-box; }
