.search {
  max-height: 100px;
  height: 100%;
}

.search__wrapper {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 20px;
}

.search__form {
  display: flex;
  width: 100%;
  max-height: 100px;
  height: 100%;
  @include media-mobile {
    flex-direction: column;
  }
}

.search__info {
  position: relative;
  width: 100%;
  padding: 4px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $color-search-border;
  background-color: $color-light;
  @extend %transition;
  @extend %box-shadow-thin;
}

.search-input__wrapper {
  display: flex;
  flex-grow: 10;
}

.search__input {
  width: 100%;
  outline: transparent;
  border: transparent;
}

.active {
  border: 2px solid $color-search-border-hover;
}

.icon {
  display: block;
  width: 35px;
  height: 35px;
  @extend %background-image;
}

.icon__search {
  background-image: url("/assets/img/icons/search.svg");
}

.search__options {
  width: 70px;
  display: flex;
}

.search__status {
  position: relative;
  width: 35px;
}

.icon__ok,
.icon__no {
  background-size: 25px;
}

.icon__ok,
.icon__loading,
.icon__no {
  position: absolute;
  left: 0;
  top: 0;
  @extend %transition;
  opacity: 0;
}

.icon__ok {
  background-image: url('/assets/img/icons/ok.svg');
}

.icon__loading {
  background-image: url('/assets/img/icons/loading.gif');
}

.icon__no {
  background-image: url('/assets/img/icons/no.svg');
}

.shown {
  opacity: 1;
}

.icon__clear {
  background-image: url("/assets/img/icons/close.svg");
}

.search__clear,
.virtual-keyboard {
  border: none;
  background-color: transparent;
  outline: transparent;
  opacity: 0.7;
  @extend %transition;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.virtual-keyboard__wrapper {
  margin: 0 5px;
  @media (max-width: 1023px) {
    display: none;
  }
}
.virtual-keyboard {
  width: 50px;
}

.icon__keyboard {
  background-image: url("/assets/img/icons/keyboard.svg");
}

.search__send {
  width: 100px;
  padding: 0 5px;
  outline: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  color: $color-light;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 1px;
  @extend %text_shadow;
  text-transform: uppercase;
  background-color: $color-search-button;
  @extend %box-shadow-thin;
  @extend %transition;
  &:hover,
  &:focus,
  &:active {
    background-color: $color-search-button-hover;
  }
  @include media-mobile {
    margin: 0 auto;
    margin-top: 10px;
    height: 45px;
    align-items: center;
  }
}

.keyboard-container {
  position: absolute;
  top: -600px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 240px;
  overflow: hidden;
  box-shadow: 4px 10px 13px #000;
  transition: all 0.5s linear;
  @media (max-width: 1023px) {
    display: none;
  }
}

.keyboard-show {
  top: 65px;
  background-color: $color-light;
  z-index: 99;
  border-radius: 10px;
}
