.swiper-container {
  opacity: 0;
  @extend %transition;
}

.swiper-slide {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1023px) {
    padding: 15px;
  }
  @include media-tablet {
    padding: 20px;
  }
  @include media-mobile {
    padding: 10px;
  }
}

.inner__wrapper,
.more__info {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    $color-card-gradient-start 0%,
    $color-card-gradient-end 100%
  );
}

.inner__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.image__wrapper {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-mobile {
    height: 370px;
  }
  & img {
    max-width: 260px;
    width: 100%;
    max-height: 400px;
    height: auto;
    object-fit: cover;
    @extend %box-shadow-img;
    @include media-mobile {
      max-width: 240px;
      max-height: 370px;
    }
  }
}

.slide__title,
.more__title {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  line-height: 2.2rem;
}

.slide__title {
  & a {
    @extend %transition;
    color: $color-light;
    text-decoration: none;
    letter-spacing: 0.5px;
    @extend %text_shadow;
    &:hover {
      color:$color-slide-title-hover;
    }
  }
}

.slide__info {
  height: 50px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > * {
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 1.8rem;
    color: $color-light;
    @extend %text_shadow;
  }
}

.slide__year {
  padding-right: 23px;
}

.slide__rating {
  padding-left: 8px;
  display: inline-flex;
  align-items: center;
  & .icon__star {
    font-size: 28px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: $color-rating-star;
  }
}

.slide__more {
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;
  @extend %background-image;
  background-image: url("/assets/img/icons/up.svg");
  @extend %transition;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.toggle__more-info {
  display: none;
}

.more__info {
  position: absolute;
  z-index: 10;
  top: 105%;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: all 0.3s linear;
  & > * {
    width: 100%;
    padding: 5px 20px;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
    @include media-mobile {
      line-height: 2.3rem;
    }
  }
}

.more__title {
  margin: 0;
  text-align: center;
  color: $color-light;
  @extend %text_shadow;
}

.more__heading {
  font-weight: 600;
}

.actors__link {
  font-weight: 300;
  color: $color-light;
  text-decoration: none;
  @extend %transition;
  @extend %text_shadow;
}

.actors__link:hover,
.actors__link:active {
  color: $color-actors-link;
}

.close__down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  @extend %background-image;
  background-image: url("/assets/img/icons/down.svg");
  @extend %transition;
  cursor: pointer;
}

.close__down:hover {
  opacity: 0.6;
}

.toggle__more-info:checked ~ .more__info {
  top: 0;
  transform: scale(1);
}

.loader__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  @extend %transition;
}

.loader {
  width: 250px;
  height: 250px;
  @extend %background-image;
  background-image: url("/assets/img/icons/spinner.svg");
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
