.slider__wrapper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50% !important;
  // transform: translateY(-50%) !important;
}

@media (min-width: 37.5em) {
	.slider__wrapper  {
    margin-left: auto;
	  margin-right: auto;
		width: 92%;

		/* make room for arrows */
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media (min-width: 43.75em) {
	.slider__wrapper  {
		width: 95%;
	}
}

.swiper-container {
  margin-top: 2em;
  }

.swiper-wrapper {
/* now pagination is below slides */
margin-bottom: 3em;

/* just enough width so slides handing off screen are partially visible */
width: 73.8%;
}

@media (min-width: 37.5em) {
.swiper-wrapper {
  width: 100%;
}
}

/* doubleing up specificity to win over on transform */
.swiper-slide.swiper-slide {
  /* a single column layout */
  width: 100%;
}


@media (min-width: 37.5em) {
  .swiper-slide.swiper-slide  {
    /* going for a 2 column layout here */
    width: 50%;

    /* centeredSlides set to true */
    /* reposition so first slide appears on left */
    transform: translateX(-50%);
  }
}

@media (min-width: 43.75em) {
  .swiper-slide.swiper-slide  {
    /* upping it to a 3 column layout */
    width: 33.33333333333%;

    /* centeredSlides set to true */
    /* reposition so first slide appears on left */
    transform: translateX(-100%);
  }
}

@media (min-width: 53em) {
  .swiper-slide.swiper-slide  {
    /* and finally the 4 column layout */
    width: 25%;

    /* centeredSlides set to true */
    /* reposition so first slide appears on left */
    transform: translateX(-150%);
  }
}

.swiper-pagination {
  /* show on small viewports */
  display: block;
}

@media (min-width: 37.5em) {
  .swiper-pagination {
    /* hide on larger viewports per stakeholder recommendation */
    display: none;
  }
}

/* now move prev button more to the left */
.swiper-button-prev {
  /* but first hide on small viewports */
  display: none;

  left: 0;
  top: 0;

  margin-top: 0;

  /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
  height: calc(100% - 3em);
}

@media (min-width: 37.5em) {
  .swiper-button-prev {
    /* show on larger viewports */
    display: block;
  }
}

.swiper-button-next {
  /* hide on small viewports */
  display: none;

  right: 0;
  top: 0;

  margin-top: 0;

  /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
  height: calc(100% - 3em);
}

@media (min-width: 37.5em) {
  .swiper-button-next {
    /* show on larger viewports */
    display: block;
  }
}
