$color-header-title: #ffffff;
$color-serach-placeholder: #818d8e;
$color-background: #ffffff;
$olor-search-border: #cfd4da;
$color-search-icons: #959595;
$color-search-button: #c53d2a;
$color-error-message: #c53d2a;
$color-rating-star: #eec648;
$color-main-font: #000000;
$color-light: #ffffff;
$color-footer-background: #33333e;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
