$color-header-title: #ffffff;
$color-search-placeholder: #818d8e;
$color-background: #ffffff;
$color-search-border: #cfd4da;
$color-search-border-hover: #7e9bbe;
$color-search-icons: #959595;
$color-search-button: #c53d2a;
$color-search-button-hover: #e74f3b;
$color-info-message: #252525;
$color-error-message: #c53d2a;
$color-rating-star: #eec648;
$color-main-font: #000000;
$color-light: #ffffff;
$color-footer-background: #33333e;
$color-slide-title: #33201f;
$color-slide-title-hover: #df6150;
$color-bgc-overlay: rgba(255, 255, 255, 0.1);
$color-header-border-bottom: #c53d2a;
$color-crad-border: #999999;
$color-card-gradient-start: rgba(107, 131, 131, 1);
$color-card-gradient-end: rgba(212, 186, 130, 1);
$color-actors-link: #c5a6a6;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

//keyboard constants
$color-light: #ffffff;
$color-key-border: #9b9b9b;
$color-key-font: #333333;
$color-key-hover: #dfdfdf;
$color-key-active: #80c1d1;
$color-header-font: rgba(212, 212, 212, 0.904);
$color-background-keyboard: rgb(206, 206, 206);
$color-font-textarea: rgb(68, 68, 68);
$color-textarea-outline: rgb(187, 232, 240);
$color-textarea-inset-shadow: rgba(0, 0, 0, 0.5);
$color-header-info: rgba(212, 212, 212, 0.7);
$color-lang-switch: rgba(97, 227, 231, 0.705);
$color-lang-switch-hover: rgb(97, 227, 231);
