$color-header-title: #ffffff;
$color-search-placeholder: #818d8e;
$color-background: #ffffff;
$color-search-border: #cfd4da;
$color-search-border-hover: #7e9bbe;
$color-search-icons: #959595;
$color-search-button: #c53d2a;
$color-search-button-hover: #e74f3b;
$color-info-message: #252525;
$color-error-message: #c53d2a;
$color-rating-star: #eec648;
$color-main-font: #000000;
$color-light: #ffffff;
$color-footer-background: #33333e;
$color-slide-title: #33201f;
$color-slide-title-hover: #df6150;
$color-bgc-overlay: rgba(255, 255, 255, 0.1);

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
