@import '../../../../scss/constants';
@import '../../../../scss/placeholders';
@import '../../../../scss/mixins';

.wrapper {
  margin-top: 30px;
}

.next {
  width: 100%;
  max-width: 320px;
  height: 50px;
  color: $color-light-text;
  font-family: 'Poiret One', cursive;
  background-color: $color-success;
  border-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  @include font(3rem);
  @extend %text-shadow;
  @extend %transition;
  @extend %button-box-shadow;
  &:hover {
    background-color: $color-success-lighter;
    @extend %button-box-shadow-hover;
  }
}

.unguessed {
  background-color: $color-gray;
  pointer-events: none;
  // &:hover {
  //   background-color: $color-gray;
  //   box-shadow: inherit;
  // }
}
