.wallpaper-enter {
  opacity: 0;
}

.wallpaper-enter .wallpaper-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.wallpaper-exit {
  opacity: 1;
}

.wallpaper-exit .wallpaper-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.modal-enter {
  bottom: -100px;
}

.modal-enter .modal-enter-active {
  bottom: 150px;
  transition: bottom 0.5s ease-in;
}

.modal-exit {
  bottom: 150px;
}

.modal-exit .modal-exit-active {
  bottom: -100px;
  transition: bottom 0.5s ease-in;
}