@import '../../scss-base/constants';
@import '../../scss-base/mixins';
@import '../../scss-base/placeholders';
@import '../../scss-base/base';
@import '../../../node_modules/semantic-ui-css/semantic.min.css';

.weather-container {
  width: 100%;
  height: 100vh;
}

.weather-wrapper {
  max-width: $desktop-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.grid-wrapper {
  margin: 50px 0;
  display: flex;
  & > * {
    padding: 15px;
  }
  @include media-tablet {
    max-width: none;
    flex-direction: column;
  }
}

// .grid-wrapper .today-wrapper {
//   max-width: 60%;
//   width: 100%;
// }

// .grid-wrapper .map-wrapper {
//   max-width: 30%;
//   width: 100%;
// }