$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 415px;
$mobile-small-width: 320px;

$color-light-text: #ffffff;
$color-item-bg: #b3b3b3;
$color-border: #a8a7a7;
$color-gray: #777777;
$color-main-bg: rgba(255, 255, 255, 0.4);
$color-main: #f6d04d;
$color-main-lighter: #f6df8c;
$color-main-accent: #f29c2b;
$color-main-accent-lighter: #f5b056;
$color-success: #8bc24c;
$color-error: #de4307;
$color-transparent: transparent;
