@import '../../scss-base/constants';
@import '../../scss-base/placeholders';
@import '../../scss-base/base';
@import '../../scss-base/mixins';

.search-form {
  max-width: 30%;
  width: 100%;
  height: 36px;
  display: flex;
  position: relative;
  z-index: 2;
  @include media-tablet {
    max-width: 45%;
  }
  @include media-mobile {
    max-width: none;
    width: 100%;
    justify-content: center;
  }
}

.input-wrapper {
  max-width: 100%;
  box-sizing: border-box;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  z-index: 3;
  & label {
    display: flex;
  }
}

.search-input {
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  font-size: 110%;
  color: $color-dark-gray;
  font-weight: 500;
  border: none;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

.search-indicator,
.close-indicator {
  position: relative;
  width: 34px;
  height: 34px;
}

.icon-search {
  background-size: 15px;
  background-image: url('./icons/search.svg');
  transform: scale(-1, 1);
}

.icon-loading {
  background-size: 15px;
  background-image: url('./icons/loading.svg');
}

.icon-reset {
  outline: none;
  border: none;
  background-size: 15px;
  background-image: url('./icons/close.svg');
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.7;
  }
}

.search-send {
  margin: 0;
  width: 25%;
  height: 100%;
  border: 1px solid transparent;
  flex-grow: 1;
  font-size: 0.875rem;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  color: $color-light;
  background-color: $color-light-gray;
  text-transform: uppercase;
  cursor: pointer;
  @extend %transition;
  &:hover {
    outline: none;
    border: none;
    background-color: $color-primary;
  }
  &:active,
  &:focus {
    outline: none;
    border: none;
    border: 1px solid $color-primary;
  }
}

.info-wrapper {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  z-index: 1;
  background-color: $color-gray;
  border: 1px solid $color-light;
  border-radius: 8px;
  position: absolute;
  top: -7px;
  transform: translateX(-50%);
  transform: scale(0.1);
  @extend %transition;
  @extend %button-box-shadow-hover;
}

.info-massage {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  word-wrap: break-word;
  white-space: normal;
}

.show-message {
  top: 50px;
  transform: scale(1);
}