@import '../../../../scss/constants';
@import '../../../../scss/placeholders';
@import '../../../../scss/mixins';

.poster {
  width: 240px;
  height: auto;
  @include media-mobile {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  & img {
    width: calc(100% - 10px);
    border-radius: 10px;
    @extend %box-shadow-thin;
  }
}

.details {
  display: flex;
  padding: 20px 20px 0 20px;
  @include media-mobile {
    flex-direction: column;
    padding: 20px 0 0 0;
  }
}

.info {
  padding-left: 20px;
  text-align: left;
}

.title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: $color-main-accent;
  font-family: $font-family-standart;
  text-align: left;
  border-bottom: 1px solid $color-main-accent;
  @include font(2rem, 4rem, 700);
}

.rating,
.year,
.genres,
.kinopoisk {
  margin: 10px 0;
  color: $color-gray;
  font-size: 1.8rem;
}

.track {
  width: calc(100% - 40px);
  padding: 0 20px;
  @include media-mobile {
    width: 100%;
    padding: 0;
  }
}

.kinopoisk {
  text-decoration: none;
  @extend %transition;
  & span {
    display: inline-flex;
    width: 20px;
    margin-right: 10px;
    background-image: url('./kinopoisk.png');
    transform: rotate(0);
    @extend %background-image;
    @extend %transition;
  }
}

.kinopoisk:hover {
  color: $color-main-accent;
  & span {
    margin-right: 20px;
    transform: rotate(360deg);
  }
}
