@import '../../../scss/constants';
@import '../../../scss/placeholders';
@import '../../../scss/mixins';

.wrapper {
  display: flex;
  padding: 20px;
  @include media-mobile {
    flex-direction: column;
  }
}

.poster {
  width: 180px;
  height: auto;
  @include media-mobile {
    width: 100%;
    margin: 0 auto;
  }
  & img {
    width: calc(100% - 10px);
    border-radius: 10px;
    @extend %box-shadow-thin;
  }
}

.track {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 20px;
  @include media-mobile {
    padding: 0;
  }
}

.title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid $color-main-accent;
  @include font(2.4rem, 4rem);
  @extend %text-shadow;
  @include media-mobile {
    text-align: center;
  }
}
