$color-primary: #389BF2;
$color-additional: #2C51BF;
$color-second-additional: #BF4D0B;
$color-background: #389BF2;
$color-secondary-emphasis: #5F49F2;
$color-secondary-emphasis-hover: #BF4D0B;
$color-playmode-btn: #BF4D0B;
$color-playmode-btn-hover: rgb(219, 95, 23);
$color-playmode-bgc: #F2CE1B;
$color-switcher-play: #BF4D0B;
$color-switcher-train: #5F49F2;
$color-navlink-bgc: rgba(255, 255, 255, 0.1);
$color-background-guessed-card: rgba(0, 0, 0, 0.5);
$color-info-description: rgb(70, 70, 70);
$color-light: #ffffff;
$color-border: #dddddd;
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1320px;
$desktop-width: 1200px;
$tablet-width: 940px;
$tablet-width-768: 768px;
$tablet-medium-width: 660px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;
