$color-primary: #BF4D0B;
$color-additional: #2C51BF;
$color-background: #389BF2;
$color-hamburger: #ffffff;
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1320px;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;
