@mixin font ($size, $height: $size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}


@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    >* {
        flex-basis: $width;
    }
}

@mixin custom-scroll($background-color) {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 1px grey;
    }
    &::-webkit-scrollbar-thumb {
      background: $background-color;
      border-radius: 10px;
    }
  }

@mixin media-laptoplarge {
    @media (max-width: $content-width) { @content; }
}

@mixin media-laptop {
    @media (max-width: $desktop-width) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}

@mixin media-tabletsmall {
    @media (max-width: $tablet-medium-width) { @content; }
}

@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}

