.header__breadcrumbs {
  opacity: 1;
  @extend %transition;
}

.breadcrumbs__item {
  margin-left: 10px;
  display: inline-flex;
  position: relative;
  padding: 5px;
  align-items: center;
  & > * {
    display: inline-flex;
  }
}

.breadcrumbs__logo {
  width: 25px;
  height: 25px;
  @extend %background-image;
  @include media-mobile {
    margin-left: 5px;
    width: 35px;
    height: 35px;
  }
}

.breadcrumbs__title {
  margin: 0 5px;
  font-size: 2.2rem;
  word-spacing: 1px;
  font-weight: 300;
  text-transform: capitalize;
  color: $color-secondary-emphasis;
  @extend %text_shadow;
  @include media-mobile {
    visibility: hidden;
  }
}
