.card {
  margin: 20px;
  width: 300px;
  height: 250px;
  perspective: 500px;
  @include media-laptop {
    flex-basis: 23%;
    width: 288px;
    height: 240px;
  }
  @include media-tablet-768 {
    flex-basis: 29%;
    width: 240px;
    height: 190px;
    margin: 15px;
  }
  @include media-mobile {
    width: 156px;
    height: 130px;
    flex-basis: 43%;
    margin: 10px;
  }
  @include media-mobilesmall {
    flex-basis: 100%;
    width: 300px;
    height: 250px;
  }
}

.card__inner {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  @extend %transition;
  transform-style: preserve-3d;
  @extend %box-shadow-thin;
}

.translate {
  transform: rotateY(180deg);
}

.card:hover .card__inner {
  @extend %box-shadow-bold;
}

.card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  background-color: $color-switcher-train;
  text-align: center;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  color: $color-light;
  opacity: 1;
  @extend %text_shadow;
  @extend %transition;
  @include media-mobile {
    height: 3rem;
    line-height: 3rem;
  }
  @include media-mobilesmall {
    height: 4rem;
    line-height: 4rem;
  }
}

.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: $color-light;
  @extend %background-image;
  backface-visibility: hidden;
  @extend %transition;
}

.card__back {
  transform: rotateY(180deg)
}

.card__icon {
  position: absolute;
  top: 10px;
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 50%;
  @extend %background-image;
  cursor: pointer;
  @extend %transition;
  @include media-mobile {
    top: 5px;
  }
  @include media-mobilesmall {
    top: 10px;
  }
}

.card__rotate-icon {
  right: 15px;
  background-image: url("/assets/img/icons/rotate.svg");
  @include media-mobile {
    right: 6px;
  }
  @include media-mobilesmall {
    right: 6px;
  }
}

.card__rotate-icon:hover {
  border: 1px solid $color-additional;
}

.card__sound-icon {
  left: 15px;
  background-image: url("/assets/img/icons/volume-loud.svg");
  cursor: none;
}

.train_mode {
  & div > div {
    background-position: center -15px;
    @include media-mobile {
      background-position: center -10px;
    }
    @include media-mobilesmall {
      background-position: center -15px;
    }
  }
  & .card__sound-icon {
    // opacity: 1;
    @extend %transition;
  }
}

.play_mode {
  & .card__rotate-icon {
    visibility: hidden;
  }
  .card__title {
    transform: translateY(100%);
    opacity: 0;
  }
}

.sound-icon_hidden {
  opacity: 0;
}

.card__guessed {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background-guessed-card;
  z-index: 50;
  & .guessed__icon {
    width: 75px;
    height: 75px;
    @extend %background-image;
    background-image: url("/assets/img/icons/ok-circle.svg");
  }
}


