.results {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient($color-secondary-emphasis, $color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  @extend %transition;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    text-align: center;
    font-weight: 300;
    color: $color-light;
  }
}

.info__title {
  font-size: 5rem;
  word-spacing: 2px;
  text-transform: uppercase;
  @extend %text_shadow;
  margin: 20px 0;
}

.info__description {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  & > * {
    font-size: 3rem;
    @extend %text_shadow;
  }
}

.info__image {
  @extend %background-image;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  @extend %box-shadow-bold;
}

.hide_results {
  opacity: 0;
  transform: translateY(100%);
}
