.overlay {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 110;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.header__nav {
  position: fixed;
  left: -100%;
  top: 0;
  width: 300px;
  height: 100%;
  min-height: 80%;
  padding: 20px;
  background: linear-gradient(40deg,#389BF2,#2C51BF);
  z-index: 150;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.nav {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nav__link {
  padding: 8px 0;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 1px solid transparent;
  & .nav_content {
    font-size: 1.8rem;
    color: $color-light;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    @extend %text_shadow;
    @extend %transition;
  }
  & .nav_icon {
    margin: 0 2px;
    position: absolute;
    left: -30px;
    top: 10px;
    width: 2.4rem;
    height: 2.4rem;
    @extend %background-image;
    opacity: 0;
    @extend %transition;
  }
}

.nav__link:hover {
  & .nav_content {
    padding-left: 3rem;
  }
  & .nav_icon {
    left: 0;
    opacity: 1;
  }
}

.nav__toggle-wrapper {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav__toggle-container {
  display: block;
  font-size: 0;
  line-height: 0;
}

.nav__close-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('/assets/img/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  cursor: pointer;
}

#toggleNav:checked ~ .header__nav,
#toggleNav:checked ~ .overlay {
  opacity: 1;
  transform: translateX(0);
  left: 0;
}

#toggleNav ~ .header__nav,
#toggleNav ~ .overlay {
  opacity: 0;
  transform: translateX(-100%);
  left: -100%;
}
