.playmode-button__wrapper {
  position: absolute;
  top: -2px;
  right: -2px;
}

.playmode-button {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: $color-playmode-btn;
  border-radius: 50%;
  outline: none;
  border: 1px solid transparent;
  opacity: 1;
  @extend %box-shadow-btn;
  @extend %transition;
  cursor: pointer;
  & span {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    @extend %background-image;
  }
  &__play {
    background-image: url("/assets/img/icons/play-filled-btn.svg");
  }
  &__repeat {
    background-image: url("/assets/img/icons/refresh-btn.svg");
  }
  &:hover {
    background-color: $color-playmode-btn-hover;
  }
  &:active {
    background-color: $color-playmode-btn-hover;
    border-color: $color-secondary-emphasis;
  }
}
