.rate {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.rate__rank {
  position: relative;
  display: flex;
  padding: 2px;
  height: 45px;
  border: 2px solid $color-border;
  box-sizing: border-box;
  border-radius: 500px;
}

.rate__score {
  padding: 0 10px;
  display: flex;
  margin-right: 30px;
  align-items: center;
  & div {
    display: inline-flex;
    height: 100%;
  }
}

.rate__point {
  // width: 50px;
  margin: 0 2px;
}

.rate__label {
  width: 33px;
  @extend %transition;
  @extend %background-image;
}
.rate-status_total {
  background-image: url("/assets/img/icons/image.svg");
}

.rate-status_success {
  background-image: url("/assets/img/icons/thumb-up.svg");
}

.rate-status_error {
  background-image: url("/assets/img/icons/thumb-down.svg");
}

.rate__indicator {
  outline: none;
  background: none;
  border: none;
  max-width: 30px;
  font-size: 2rem;
  font-weight: 300;
  color: $color-light;
  text-align: center;
  @extend %text_shadow;
}
