@import '../../scss-base/constants';
@import '../../scss-base/placeholders';

.error-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-content {
  display: flex;
  flex-direction: column;
}

.error-title {
  font-size: 1.8em;
  color: $color-atention-primary;
  @extend %text_shadow;
}

.error-description,
.error-message {
  font-size: 1.5em;
  color: $color-dark-gray;
}