@import '../../../../scss/constants';
@import '../../../../scss/placeholders';
@import '../../../../scss/mixins';

.wrapper {
  margin-bottom: 20px;
}

.next {
  width: 100%;
  max-width: 250px;
  height: 40px;
  color: $color-light-text;
  font-family: 'Poiret One', cursive;
  background-color: $color-success-lighter;
  border-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  @include font(3rem);
  @extend %transition;
  &:hover {
    background-color: $color-success;
    @extend %text-shadow;
    @extend %button-box-shadow-hover;
  }
}

.unguessed {
  color: $color-gray-light;
  text-shadow: none;
  background-color: transparent;
  box-shadow: none;
  pointer-events: none;
}
